<%= render "shared/header" %>
 
<div class="main d-flex align-items-center">
  <%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

    <% events.each do |event| %>
      <div>
        <%= link_to event_path(event.id), class:'text-decoration-none text-success' do %>
          <%= event.start_time.strftime('%H:%M~ ') %><%= event.title %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "shared/footer" %>