<header class="share-header">
  <div class="px-3 py-2 text-bg-dark header-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href= '/' class="h1 d-flex align-items-center my-2 my-lg-0 me-lg-auto text-success text-decoration-none">
          ShareHappy
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-calendar3 logo-icon" viewBox="0 0 16 16">
            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href='/users/sign_up' class="nav-link text-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
              </svg>
              新規登録
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<%= form_with model: @user, url: new_user_session_path, class: 'form-main', local: true do |f| %>
<div class='form-signin w-100 m-auto text-center'>
  <div class='form-header text-center'>
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-person-circle signin-icon" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <h1 class='h3 mt-2 mb-4 fs-1 fw-bolder text-success form-header-text'>Welcome</h1>
  </div>
  
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-floating">
    <%= f.email_field :email, class:"form-control rounded-0 rounded-top form-email", id:"email", placeholder:"メールアドレス", autofocus: true, autocomplete: "email" %>
    <label for="floatingInput">メールアドレス</label>
  </div>
  <div class="form-floating">
    <%= f.password_field :password, class:"form-control mb-4 rounded-0 rounded-bottom", id:"floatingPassword", placeholder:"パスワード", autocomplete: "password" %>
    <label for="floatingPassword">パスワード</label>
  </div>
  <div class='login-btn'>
    <%= f.submit "ログイン" ,class:"w-100 btn btn-lg btn-success" %>
  </div>
</div>
<% end %>

<%= render "shared/footer" %>